/*
 Print stylesheet.
*/
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* CSS3 Two Tone borders - IE9+ */
/* Fix for responsive images - use on IMG tag */
/* Mobile icons for retina display */
/** 
 * Mixin divides width of parent between children. It requires the parent to 
 * have a size class representing the number of children (eg: class="size_3"). 
 * It will take this and divide the width by that number of elements.
 *
 * Note: In silverstripe templates you can use $Count on a set of items you 
 * are about to loop throught to get the total number. EG:
 * <ul class="size_{$Menu.Count}">
 */
@page {
  margin: 15mm 10mm 15mm 10mm;
}

.container {
  width: auto;
  margin: 0.25em;
}

.row-fluid {
  width: 100%;
}

.row,
.thumbnails {
  margin-left: 0;
}

[class*="span"],
.row-fluid [class*="span"] {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .span12, #IE6 .row-fluid .span12 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .span11, #IE6 .row-fluid .span11 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .span10, #IE6 .row-fluid .span10 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .span9, #IE6 .row-fluid .span9 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .span8, #IE6 .row-fluid .span8 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .span7, #IE6 .row-fluid .span7 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .span6, #IE6 .row-fluid .span6 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .span5, #IE6 .row-fluid .span5 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .span4, #IE6 .row-fluid .span4 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .span3, #IE6 .row-fluid .span3 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .span2, #IE6 .row-fluid .span2 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .span1, #IE6 .row-fluid .span1 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

.navbar, .sidebar-nav, .breadcrumb, .icon, .control, .btn, .carousel-control, .printShare, .pagination, #lang, footer, .sidebar-form, .sidebar-nav {
  display: none;
}

.carousel img {
  max-width: 200px;
  float: left;
}

.carousel-caption {
  clear: both;
}

.carousel:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
*:first-child .carousel {
  zoom: 1;
}
.carousel .item {
  display: block;
}

.month-filter {
  display: none;
}
