/**
 * Layout stylesheet.
 *
 * The general rule is that the styles from here will not be needed for the CMS editor.
 * Styles related to content editing should go into typography.[s]css.
 */


 //* *** ATTENTION SCSS DEVELOPER ***
 //*
 //* If you are working with SCSS, please do not import other top-level 
 //* stylesheets here such as typography.scss. We want to be able to generate 
 //* clean CSS for the third-party dev to work with directly, without duplication 
 //* of css in the generated files!
 //*


// Import needed scss files. Bootstrap files require the bootstrap module in the themes directory
@import "compass/support"; //import an external compass library for IE9 SVG gradient support 
$experimental-support-for-svg: true; //for IE9 SVG gradient support 

@import 'bootstrap_config/bootstrap.scss'; //Core bootstrap layout components
@import 'components/forms'; //form specific scss
@import 'components/navigation'; //navigation components
@import 'components/mobile'; //mobile specific adjustments
@import 'components/sitemap'; //sitemap specific scss
@import 'components/results'; //search results specific scss



/*****************************
EXPRESS LAYOUT
******************************/

/* todo: this is a workaround for responsive.css including padding: 20px coming from module_bootstrap */
body {
	padding: 0 !important;
}

/*Customise search field */	
#SearchGroup{
	float: right;
	.navbar-search .search-query{
		line-height:1.3em;
		background-color: #FFF;
		color: $textColor; 
		&:focus {
			background-color: #FFF;
		}
	}
	/* search container takes 100% width by default when floated right in IE7 */
	#IE6 &,
	#IE7 & {
		width: 25%;
	}
	form{
		.field{
			margin:0;
		}
		padding:0;

		label {
			display: none;
			vertical-align: middle;
			color: white;
			margin: 0 10px 0 0;

			#IE6 &,
			#IE7 &,
			#IE8 &,
			#IE9 & {
				display: inline-block;
			}
		}

		input {
			#IE6 & {
				margin-left: 0;
				float: none;
			}
		}

		input.action{
			display:none;
		}

		input.btn-navbar {
			float: none;
			display: inline;
			@include gradientBar(#FFF, #E6E6E6);
			text-shadow: none;
			padding-top: 4px;
			padding-bottom: 3px;
		}
	}
}

/*HEADER */
header {
	.brand {
		#IE6 &,
		#IE7 & {
			width: 75%;
		}

		@extend h1;
		font-size: 3em;
		font-weight:bold;
		overflow:visible;
		line-height:1em;
		float: left;
		margin-top: 18px;
		padding-bottom: 18px;
		margin-bottom: 0;
		a {
			position: relative;
			display: block;

			img {
				position: absolute;
				top: 0px;
				left: 0px;
			}

			span {
				float: left;
				margin-top: 38px;
				margin-left: 5px;
			}

			&:visited {
				color: black;
			}
		}
	}

	ul#lang {
		float: right;

		#IE6 &,
		#IE7 & {
			width: 20%;
			text-align: right;
		}

		li {
			display: inline;
			margin-left: 10px;
			list-style: none;
		}
	}
}

/* heading elements in the content shouldn't have padding by default */
.container header {
	padding: 0;
}

.divider-right {
	border-right: 1px solid #999999;
	padding-right: 0.5em;
	margin-right: 0.3em;
}

.divider-left {
	border-left: 1px solid #999999;
	padding-left: 0.5em;
	margin-left: 0.3em;
}

/************************ MISC ****************************/

.nonvisual-indicator { // Content oftenly used by people using screenreaders 
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

#layout .linkSet{
	ul{
		list-style:none;
		margin-left:0;
		border-bottom:1px solid $grayLighter;
		li a{
			display:block;
			padding:15px 0;			
			border-top:1px solid $grayLighter;
			&[href^="http://"], &[href^="https"], &.external {
				background-position: right 16px;
			}
		}
	}
}


.typography{ //Needed to override typography styles

	/*Adjust breadcrumbs*/
	ol.breadcrumb{
		margin:0 0 18px;
		padding:7px 14px;
	}

	p.last-edited {
		float: right;
		clear: right;
		font-size: 0.8em;
		margin: 0;

		time {
			font-size: 1.0em;
		}
	}

	/* Hero Unit adjustments */
	div.hero-unit.nested {
		padding:0;
		h1 {
			margin-bottom: 15px;
		}
		.span4 .content{
			padding:30px;
		}

		.span8 .content{
			padding:30px;
		}
	}

	p.printShare {
		font-size: 1em;
		line-height: 1.4em;
		height: 1.4em;
		clear: both;
		margin: 1.385em 0;

		button {
			background: none;
			padding: 0;
			border: 0;
			font-size: 1em;
			font-weight: normal;
			line-height: 1.4em;
			height: 1.4em;
			vertical-align: baseline;
			color: $linkColor;

			&:focus, &:hover {
				text-decoration: underline;
				color: $linkColorHover;
			}

			&:focus {
				outline: 1px dotted black;
			}
		}

		a, button {
			padding: 2px 4px;
			margin-left: 18px;
			float: left;

			&:first-child {
				border-left: none;
				padding-left: 0;
			}
			&.pdf {
				padding-left: 20px;
				background-position: 2px 1px;
			}
		}
		a[href^="http://"],
		a[href^="https"],
		a.external {
			background: none; 
		}
	}
}

// Carousel adjustments
.carousel-container {
	float: right;
}

.carousel {
	a {
		color: white;
	}
	.carousel-inner {
		background-color: #000;
	}
	#layout.typography & a img {
		border: none;
		color: #fff;
		margin: 0;
	}
	.carousel-control {
		&:focus {
			@extend .carousel-control:hover
		}
	}
	.carousel-caption h4,
	.carousel-caption p {
		color: $white;
	}

	/* Remove once we upgrade Bootstrap to 2.3.1 */
	.carousel-interface {
		button.carousel-control {
			position: static;
			display: block;
			float: left;
			height: 13px;
			width: 13px;
			margin: 8px 26px 0 0;
			outline: none;
			border: 0px;

			&.active {
				background-color: $linkColor;
				opacity: 1;
			}

			&:hover, &:active, &:focus {
				background-color: $linkColorHover;
				opacity: 1;
			}

			&.right {
				padding-left: 4px;
				width: 16px;
			}
		}

		i, .icon {
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			display: inline-block;
			text-decoration: inherit;
		}

		.carousel-indicators {
			float: left;
			margin-top: 8px;

			button {
				text-indent: -9999px;
			}
		}

		.carousel-controls {
			float: right;
			margin-top: 15px;

			button {
				background: none;
				border: none;
				outline: none;
				font-size: 1.6em;
				margin: 0 0 0 20px;

				&:last-of-type {
					margin-right: 0;
				}

				&:hover, &:active, &:focus {
					color: $linkColor;
				}
			}

			#IE7 & {
				margin-top: 5px;
			}
		}
	}
}

h2 {
	a, a:visited {
		color: #000;
	}
}

figure.featured-image {
	float: right;
}

iframe {
	border: 0;
}



footer {
	.nav {
		margin-top: 2px;
	}
	.footer-logo {
		clear: both;
	}
	
	/* Facebook and Twitter links */
	.socialLinks {
		margin-bottom: 20px;
		a{
			overflow:visible;
			z-index:5;
			position:relative;
			text-shadow: lighten(rgba(#000,0.1), 10%) 1px 1px 0;
			margin-left: 20px;
			display: inline;
			i {
				overflow:visible;
				font-size:2em;
				line-height:1em;
				margin-right: 10px;
				&:before {
					margin-top: 10px;
					vertical-align: middle;
				}
			}
			&:hover i {
				text-decoration: none;
				&:before {
					color: $linkColorHover;
				}
			}
		}
	}
}



/*Helper classes to customise icons*/
.icon-dark{
	color: $textColor;
	&:visited{
		color: $textColor;
	}
	&:hover{
		color: $linkColorHover;
		text-decoration: none;
	}
} 
.icon-small{
	font-size:1em;
}


/*Fixes for all media sizes*/
@include mediaSizes;


/*IE6 bootstrap fixes*/
#IE6 {
	.span12,
	.span11,
	.span10,
	.span9,
	.span8,
	.span7,
	.span6,
	.span5,
	.span4,
	.span3,
	.span2,
	.span1 {
		float: left;
		margin-left: 20px;
	}

	.breadcrumb .active {
		background: transparent;
	}

	.nav-list
	{
		li {
			a {
				display: block;
			}

			&.active {
				background-color: transparent;
				a {
					background-color: #0464EA;
					color: white;
				}

				li a {
					background-color: transparent;
					color: #0464EA;
				}
			}
		}
	}

	.nav-pills li {
		float: left;

		&.current {
			background-color: transparent;
		}

		a {
			margin: 2px 2px 2px 0;
			padding: 8px 12px;
			line-height: 14px;
			display: block;
			text-decoration: none;

			&.current {
				background-color: #0464EA;
    			color: white;
			}
		}
	}
}

.navbar .btn-navbar {
	float: left;
	.nav-text {
		float: left;
		color: #c7c7c7;
		margin-right: 7px;
		text-shadow: none;
	}

	.nav-right {
		float: right;
		margin-top: 3px;
	}

	&:hover,
	&:focus {
		border-color: $gray;
		background: $grayDark;
		.nav-text {
			color: white;
		}
	}
}

/**
 * Fix the responsive design's image-with-max-width-disappearing-on-float-right in IE8.
 * http://www.456bereastreet.com/archive/201202/using_max-width_on_images_can_make_them_disappear_in_ie8/
 */
#IE8 .pull-right img {
	max-width: none;
}

/**
 * EventPage and NewsPage - update information
 */
.typography .update-information {
	#IE6 & {
		padding-bottom: 40px;
	}

	dl {
		margin: 0;
		padding: 0;
	}

	dd {
		margin-top: 0.2em;
		margin-bottom: 0.2em;
	}

	ul.update-tags {
		overflow: auto;
		margin: 8px 0;
		
		li {
			float: left;
			margin: 0 3px 3px 0;
		}
	}
}

/**
 * EventHolder and NewsHolder.
 */
.typography .month-filter {
	.h6-style {
		display: block;
		float: left;
		padding: 8px 0;
		margin: 0;
		margin-right: 10px;
		color: #555555;
		font-size: 11px;
		text-transform: uppercase;
		line-height: 18px;
	}
	ol {
		margin: 0;
	}
}

.sidebar-nav h6 {
	padding: 0 14px;
}

.sidebar-form {
	padding: 9px 14px;
	.field-note {
		font-style: italic;
		font-size: 0.9em;
		font-weight: normal;
	}
	div.field.date input {
		width: 7.7em;
		#IE6 & {
			height: 20px;
		}
	}

	.Actions {
		#IE8 & {
			filter: none;
		}
	}
	.message {
		margin: 10px;
	}
}

.resultsList article header {
	padding: 0;
}

/**
 * Registry page
 */
.resultActions {
	clear: both;

	a {
		display: block;
	}
}

/**
 * Blog module
 */
#BlogContent {
	#Sidebar {
		h3 {
			color: #666666;
			font-size: 11px;
			text-transform: uppercase;
			line-height: 18px;
			margin: 0;
			padding: 0 14px;
		}

		ul {
			list-style: none outside none;
			margin: 0;
			padding-left: 15px;
			padding-right: 15px;

			li {
				a {
					padding: 3px 15px;
					margin-left: -15px;
					margin-right: -15px;
					text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
					display: block;

					&:hover {
						background-color: #eee;
						text-decoration: none;
					}

					&.active {
						background-color: #0464EA;
						color: white;
						text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
					}
				}
			}
		}

		.tagcloud {
			margin: 0 14px;
			line-height: 1.8em;
		}
	}
}

/**
 * Comments
 */
#comments-holder {
	div.field {
		clear: left;
	}

	.comments-holder {
		li.comment {
			list-style-type: none;
			padding: 5px;
			&.odd {
				background: #eee;
			}
			&.unmoderated {
				border: 2px dashed grey;
			}

			ul.action-links {
				li {
					list-style-type: none;
					display: inline;
					margin-right: 15px;
					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}
	}
}


/**
 * Accessibility Skiplinks for screen readers, allow users to bypass 
 * content recurring on every page to access the menu 
 * or the content directly additionally for regular users by using tab
 */

.skipLinks a { 
	padding: 5px 10px;
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	
	&:focus, &:active { 
		display: inline-block; 
		position:static; 
		width:auto; 
		height:auto; 
	} 
}