/*
 Print stylesheet.
*/

@import 'bootstrap_config/custom/mixins';

@page {
	margin: 15mm 10mm 15mm 10mm;
}

// GRID & CONTAINERS

// Remove width from containers
.container {
	width: auto; margin: 0.25em;
}
// Fluid rows
.row-fluid {
	width: 100%;
}
// Undo negative margin on rows and thumbnails
.row,
.thumbnails {
	margin-left: 0;
}
// Make all grid-sized elements block level again
[class*="span"],
.row-fluid [class*="span"] {
	float: none;
	display: block;
	width: auto;
	margin-left: 0;
}

// REMOVE NON-CONTENT ELEMENTS

.navbar, .sidebar-nav, .breadcrumb, .icon, .control, .btn, .carousel-control, .printShare, .resultsHeader, .pagination, #lang, footer{
	display:none;
}

// CAROUSEL

.carousel img{
	max-width:200px;
	float:left;
}

.carousel-caption{
	clear:both;
}

.carousel{
	@include clearAfter;
	.item{
		display:block;
	}
}
