/* 
 * Styles for header elements
 */
.header {
	@include clearfix;
	.brand {
		@extend h1;
		float: left;
		font-size: 3em;
		line-height:1em;
		margin-bottom: 0;
		margin-top: 18px;
		overflow:visible;
		padding-bottom: 18px;
		a {
			position: relative;
			display: block;
			.logo-placeholder{
				//Can be removed when a logo is supplied
				@include font-size($reallybig);
				margin-top:30px;
			}
			img, .logo-placeholder {
				position: absolute;
				top: 0px;
				left: 0px;
			}

			span {
				float: left;
				margin-top: 38px;
				margin-left: 20px;
			}

			&:visited {
				color: $body-font-color;
			}
		}
	}
}

/* Customise search field */
.search-group{
	@include clearfix;
	.search-query {
		padding-top:2px; // pulls the input up rather than pushing it down
		padding-right:5px;
		width:200px;
		margin-top:-1px;
		color: $body-font-color;
		-webkit-appearance: textfield;
	}
	form{
		@include line-and-height(height-calc($larger - 3));
		@include font-size($norm);
		padding-right:none;
		.btn{
			margin-left:-5px;
			input{
				display:inline;
			}
		}
	}
	fieldset{
		text-align:right;
		padding-left:0;
		padding-right:0;
		border:0;
	}
}