/*
* For Silverstripe specific gumby styling (e.g. to get forms to work as intended)
*/


/*
 * Forms
 */
input.text {
	@extend .input; //Make Silverstripe form inputs match gumby's
	@include placeholder-text();
	@include font-size($norm);
	line-height:36px;
	height:36px;
	background-color:$default-color;
	border:1px solid #ccc;
	&:focus {
		background-color: #FFF;
		outline: none;
	}
}

.btn{
	@extend .metro;
	@extend .medium;
	border:0;

	.btn-content{
		padding: 0 15px 0 10px;
	}
	// Some form inputs have been given a btn class by cwp
	.btn{
		padding:0 20px;
	}
}

.btn.btn-primary{
	@extend .primary;
}

.Actions{ 
	margin-top:10px;
	.btn {
		margin-right:8%;
		display:block;
		float:left;
		input{
			display:block;
		}
		&:last-child{
			margin-right:0;
		}
	}
}

form {
	@include clearfix;
	.field{
		clear:both;
		padding:20px 0;
	}
	.FormHeading{
		padding:20px;
		clear:both;
	}
	.optionset {
		clear:both;
		label{
			font-weight:normal;
		}
	}
	legend, label{
		@include clearfix;
		float:left;
		width:100%;
	}
	.extra{
		@include clearfix;
		clear:both;
		font-style: italic;
		display:block;
		margin-bottom:20px;
		color:lighten($body-font-color, 5%);
		float:left;
	}
}

form fieldset{ //Silverstripe uses fieldsets wrongly, so don't style with gumby default
	border:none;
	border-top:1px solid #efefef;
	fieldset{
		border:none;
		padding:0;
		margin:0;
	}
}

#ForgotPassword { //ID only used because silverstripe does not provide a class
	@include clearfix;
	float: left;
	font-size: 0.8em;
	line-height: 35px;
	padding-left: 20px;
}

//For user forms
#Form_Form{
	.field{
		padding:20px;
		border-bottom:1px solid #efefef;
		&:nth-child(odd){
			background-color:#f6f6f6;
		}
	}
}