//	Sitemap formatting
.layout ul.sitemap{
	@extend .well;
	background:#fff;
	list-style:none;
	margin-left:0;
	padding:0;

	.no-js & .collapse {
		height: auto;
	}


	#IE9 & .open .collapse{
		height:auto;
		.page-toggle{
			display:none;
		}
	}
	li{
		#IE6 &{
			.page-toggle{
				display:none;
			}
			.collapse{
				height:auto;
			}
			border-top: 1px solid white;
			border-bottom: 1px solid $grayLighter;
			padding: 8px 0;
		}
		background:#fafafa;
		@include gradient-vertical(rgba(darken(#ffffff,5%),0.6),rgba(#fff,0.6));
		border-top:1px solid #fff;//non rgba browsers
		border-top:1px solid rgba(#fff,0.5);
		border-bottom: 1px solid $grayLighter;//non rgba browsers
		border-bottom:1px solid rgba($gray,0.1);
		border-left:none;
		border-right:none;
		z-index:0;
		position:relative;
		line-height:35px;
		&.initial{
			&.first{
				border-top:none;
				> a.sitemap-link{
					@include roundTopCorners(5px);
				}
			}
			&.last{
				> a.sitemap-link{
					@include roundBottomCorners(5px);
				}
			}
		}		
		a.sitemap-link{
			#IE6 & {
				padding: 4px 0;
			}
			img{
				border:none;
			}
			@include box-sizing(border-box);
			padding-left:30px;
			z-index:1;
			display:block;
			width:100%;
			height:100%;
			.sitetree-icon{
				margin:0 5px 0 15px;
			}
			&:hover{
				color:#000;
				text-decoration:none;
				background:lighten($grayLight,25%);//non rgba
				background-color:rgba($gray,0.2);
			}
		}
		ul{
			margin:0;
			list-style:none;
			height:auto;
			border:none;
			li{
				border-top-color:#fff;//non rgba browsers
				border-top-color:rgba(#fff,0.8);
				border-bottom-color:lighten($grayLight,30%);//non rgba browsers
				border-bottom-color:rgba(lighten($grayLight,5%),0.1);
				text-indent:15px;
				background:$grayLighter;//non rgba browsers
				background-color:rgba($gray,0.1);
				#IE6 &{
					border:none !important;
					&.first, &.last{
						border:none;
					}
					li{
						border:none;
						&.first, &.last{
							border:none;
						}
					}
				}
				&.first{
					border-top:2px solid lighten($grayLight,30%);//non rgba browsers
					border-top:2px solid rgba($grayLight,0.1);
				}
				&.last{
					border-bottom:2px solid lighten($grayLight,30%);//non rgba browsers
				 	border-bottom:2px solid rgba($grayLight,0.1);
				}
				li{
				 	background:none;
					border:none;
					text-indent:25px;
					&.first,&.last{
						border:none;
					}
					
				 	li{
						text-indent:35px;
					 	li{
					 		text-indent:45px;
						 	li{
						 		text-indent:55px;
							 	li{
							 		text-indent:65px;
								 	li{
								 		text-indent:75px;
								 		li{
								 			text-indent:85px;
								 			background-color: rgba($gray,0.2);
								 			#IE9 &{
								 				background:none;
								 				&.first,&.last{
								 					border:none;
								 				}
								 			}
								 			&.first{
												border-top:$gray;
												border-top:2px solid rgba($grayLight,0.5);
											}
											&.last{
											 	border-bottom:2px solid rgba($grayLight,0.5);
											}
											.in{
								 				li{
								 					border:none;
								 				}
								 			}	
											li{
												#IE9 &{
													padding-left:10px;
												}	
												background: none;
												border:none;
												&.last,&.first{
													border:none;
												}
											}
								 		}
				 					}
								}
							}
						}
					}
				}
			}
		}
		div.collapse a,
		div.collapse .page-toggle a.button {
			display: none;
		}
	}
	.page-toggle{
		text-indent:0;
		left:0px;
		top:0px;
		z-index: 5;
		position:absolute;
		display:inline-block;
		width:40px;
		height:36px;
		.button {
			margin-left:10px;
			display:block;
			&:hover{
				cursor:pointer;
				.toggleIco{
					opacity:0.7;
					#IE8 &{
						color: $textColor;
					}
				}
			}
			.linkText {
				height: 0;
				overflow:hidden;
				padding-top:20px;
				display: block;
				position: absolute;
			}
			.toggleIco{
				text-decoration:none;
				color:#000;
				margin-top:2px;
				@extend .icon-plus;	
				opacity:0.3;
				height:20px;
				width:20px;
				#IE8 &{
					color: lighten($textColor,30%);
				}
			}
			&.loading{
				.toggleIco{
					background: url(../images/ajax-loader.gif) center bottom no-repeat;
				}
			}
			&.open{
				.toggleIco{
					@extend .icon-minus;
				}
			}
		}
	}
}